body { 
  font-family:Garamond, Times , Arapey, serif; 
 font-size:medium; 
 } 

 
 h1{ 
    width:40%; 
    color: #6600cc; 
 
 
 } 
 
 
 hr{ 
    width:40%; 
     text-align:left; 
 } 

 
table{ 
     margin-top:3em;
 } 

 
tbody tr th{ 
     background-color:#7A2DB5; 
    color:white; 
     border:solid 2px #8E8C8F; 
     padding: 10px;
 } 

 
 table tr td{ 
     border:solid 2px #8E8C8F; 
    padding:4px 4px 4px 4px; 
 } 
